#define AZURE      RGB_COLOR_HSB(210, 100, 100)
#define BLACK      RGB_COLOR_HSB(0,   0,   0)
#define BLOSSOM    RGB_COLOR_HSB(330, 50,  100)
#define BLUE       RGB_COLOR_HSB(240, 100, 100)
#define BROWN      RGB_COLOR_HSB(30,  100, 50)
#define BURGUNDY   RGB_COLOR_HSB(0,   100, 40)
#define BUTTER     RGB_COLOR_HSB(60,  50,  100)
#define CHARCOAL   RGB_COLOR_HSB(0,   0,   25)
#define COCOA      RGB_COLOR_HSB(20,  100, 40)
#define CYAN       RGB_COLOR_HSB(180, 100, 100)
#define FOREST     RGB_COLOR_HSB(120, 100, 40)
#define GRAY       RGB_COLOR_HSB(0,   0,   50)
#define GREELOW    RGB_COLOR_HSB(90,  100, 100)
#define GREEN      RGB_COLOR_HSB(120, 100, 100)
#define IVORY      RGB_COLOR_HSB(60,  10,  100)
#define LIME       RGB_COLOR_HSB(75,  100, 100)
#define MAGENTA    RGB_COLOR_HSB(300, 100, 100)
#define MINT       RGB_COLOR_HSB(150, 50,  100)
#define NAVY       RGB_COLOR_HSB(240, 100, 40)
#define OLIVE      RGB_COLOR_HSB(60,  100, 40)
#define ORANGE     RGB_COLOR_HSB(30,  100, 100)
#define PEACH      RGB_COLOR_HSB(20,  60,  100)
#define WINKLE     RGB_COLOR_HSB(240, 50,  100)
#define PINK       RGB_COLOR_HSB(0,   50,  100)
#define PLUM       RGB_COLOR_HSB(300, 100, 40)
#define PURPLE     RGB_COLOR_HSB(270, 100, 50)
#define RED        RGB_COLOR_HSB(0,   100, 100)
#define ROSE       RGB_COLOR_HSB(330, 100, 100)
#define SEAFOAM    RGB_COLOR_HSB(160, 50,  100)
#define SILVER     RGB_COLOR_HSB(0,   0,   75)
#define SKY        RGB_COLOR_HSB(210, 50,  100)
#define SPRING     RGB_COLOR_HSB(150, 100, 100)
#define STEEL      RGB_COLOR_HSB(210, 10,  70)
#define TEAL       RGB_COLOR_HSB(180, 100, 50)
#define VIOLET     RGB_COLOR_HSB(270, 100, 100)
#define WHITE      RGB_COLOR_HSB(0,   0,   100)
#define YELLOW     RGB_COLOR_HSB(60,  100, 100)
